{% extends 'base.html.twig' %}

{% block title %}Hello MarketplaceController!{% endblock %}

{% block body %}

        <section class="container">
            <h2 class="p-3">DECOUVREZ LES {{ annoncesTotal }} DERNIERES ANNONCES</h2>
            <div class="row">
                {% for annonce in annonces %}
                    <article class="col-sm-4">
                        <div><img class="img-thumbnail shadow-sm" src="{{ asset('assets/upload/' ~ annonce.photo) }}" alt=""></div>
                        <h3><a href="{{ url('annonce_detail', { 'uri' : annonce.uri }) }}">{{ annonce.titre }}</a></h3>
                        <p class="border border-primary p-2">{{ annonce.description }}</p>
                        <div class="text-secondary">de {{ annonce.user.username }}</div>
                        <div class="text-secondary">publiée le {{ annonce.datePublication ? annonce.datePublication|date('d/m/Y à H:i') : '' }}</div>
                    </article>
                {% else %}
                    <div class="col-sm">
                        <h3>DESOLE, AUCUNE ANNONCE EN CE MOMENT...</h3>
                    </div>
                {% endfor %}

            </div>
        </section>

{% endblock %}
