{% extends 'base.html.twig' %}

{% block title %}CONTACTEZ NOUS{% endblock %}

{% block body %}

        <section class="container">
            <h2>FORMULAIRE DE CONTACT</h2>

            {{ form_start(form) }}
            
                {# PRE-REPLISSAGE DU CHAMP EMAIL SI LE VISITEUR EST DEJA CONNECTE COMME MEMBRE #}
                {{ form_row(form.email, { 'value' : app.user.email ?? '' }) }}

                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button_label|default('ENVOYER VOTRE MESSAGE') }}</button>
                <div class="confirmation">
                    {{ messageConfirmation ?? "" }}
                </div>
            {{ form_end(form) }}

        </section>

{% endblock %}
