{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}

    <section class="container">
        <h2>ESPACE MEMBRE</h2>
        <h3>BIENVENUE {{ app.user.username }}</h3>
        {% dump(app) %}
        {% dump(app.user) %}
    </section>

    <section class="container">
        <h2>FORMULAIRE POUR CREER UNE ANNONCE</h2>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('PUBLIER VOTRE ANNONCE') }}</button>
            <div class="confirmation">
            {{ messageConfirmation ?? "je viens d'arriver sur la page... laissez moi le temps de remplir le formulaire" }}
            </div>
        {{ form_end(form) }}

    </section>
{% endblock %}
