{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}

    <section class="container">
        <h2>ESPACE MEMBRE</h2>
        <h3>BIENVENUE {{ app.user.username }}</h3>
        {% dump(app) %}
        {% dump(app.user) %}
    </section>

    <section class="container">
        <h2>FORMULAIRE POUR CREER UNE ANNONCE</h2>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('PUBLIER VOTRE ANNONCE') }}</button>
            <div class="confirmation">
            {{ messageConfirmation ?? "je viens d'arriver sur la page... laissez moi le temps de remplir le formulaire" }}
            </div>
        {{ form_end(form) }}

    </section>


    <section class="container">
        <h2>LISTE DE VOS ANNONCES</h2>
            <div class="row">
                {% for annonce in annonces %}
                    <article class="col-sm-4">
                        <div><img class="img-thumbnail shadow-sm" src="{{ asset('assets/upload/' ~ annonce.photo) }}" alt=""></div>
                        <h3><a href="{{ annonce.uri }}">{{ annonce.titre }}</a></h3>
                        <p class="border border-primary p-2">{{ annonce.description }}</p>
                        <div class="text-secondary">de {{ annonce.user.username }}</div>
                        <div class="text-secondary">publiée le {{ annonce.datePublication ? annonce.datePublication|date('d/m/Y à H:i') : '' }}</div>
                    </article>
                {% else %}
                    <div class="col-sm">
                        <h3>DESOLE, AUCUNE ANNONCE EN CE MOMENT...</h3>
                    </div>
                {% endfor %}

            </div>

    </section>
{% endblock %}
